venv/
data/raw/
data/processed/
tests/
# Python
__pycache__/
*.pyc
*.pyd
*.pyo

# Jupyter
.ipynb_checkpoints/

# Database
*.db

# Environment Variables
.env

# Logs
logs/
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Model Files
*.bin
*.pt
*.pth

# FAISS
*.index
*.faiss

*.npy
__init__.py
pytest.ini

rag/**/chunks/*.json

rag/docs/raw_docs

# Models
*.pkl

# OS Files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

notebooks/
frontend/